/* /public/css/style_developer_form.css */

form {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1.1em;
    margin-bottom: 5px;
    color: #2c3e50;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}

.radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

button[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 15px;
    display: block;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #2980b9;
}

a {
    font-size: 1.2em;
    margin-top: 15px;
    text-decoration: none;
    color: #3498db;
    padding: 10px 0;
    display: block;
    text-align: center;
    border-radius: 4px;
    background-color: #ecf0f1;
}

a:hover {
    text-decoration: underline;
    background-color: #bdc3c7;
}

form a {
    margin-bottom: 20px;
}

.projects-checkbox {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.projects-checkbox input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 10px;
}

.projects-checkbox label {
    margin-left: 5px;
    display: inline-block;
    font-size: 1em;
}